body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-ExtraLight.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-Light.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-SemiBold.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSerifTC';
  src: local('NotoSerifTC'), url(./fonts/NotoSerifTC-Black.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'NotoSerifTamil';
  src: local('NotoSerifTamil'), url(./fonts/NotoSerifTamil-Thin.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'NotoSerifTamil';
  src: local('NotoSerifTamil'), url(./fonts/NotoSerifTamil-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'NotoSerifTamil';
  src: local('NotoSerifTamil'), url(./fonts/NotoSerifTamil-Light.ttf) format('truetype');
  font-weight: 300;
}